
:root {
  --main-bg-color: linear-gradient(yellow, coral);
  --text-color: #000;
  --link-color: brown;
  --font-family: 'Yatra One', cursive;
  --transition-speed: 0.3s;
}

.barra {
  height: auto;
  background: var(--main-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  img {
    width: 150px;
    height: auto;
    margin-top: 20px;
  }
}

.banner {
  height: auto;
  text-align: center;
  background: linear-gradient(coral, yellow);

  h1 {
    font-size: 60px;
    font-family: 'Marck Script', cursive;
    border: 2px;
    color: #000;
  }

  h3 {
    font-family: 'Marck Script', cursive;
    font-size: 30px;
    border: 1px;
    color: #000;
  }

  .imagen-banner {
    max-width: 100%; 
    height: auto; 
  }
}

ul {
  list-style-type: none;
  display: flex;
  padding: 20px 0;
  justify-content: center;
}

.div-nuevo {
  a {
    padding: 18px 26px;
    text-decoration: none;
    font-size: 20px;
    color: var(--text-color);
    justify-content: end;
    font-family: var(--font-family);
    transition: background-color var(--transition-speed), color var(--transition-speed);

    &:hover {
      font-size: 20px;
      color: white;
      border: 0.5px solid var(--text-color);
      text-decoration: underline;
      text-decoration-color: white;
    }
  }
}

.search-container {
  justify-content: center;
  margin-bottom: 20px;
}

.search-box {
  width: 100%;
  max-width: 250px;
  height: 40px;
  margin: 10px 0;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 15px;
}
.carousel-inner{
  height: 400px;
}
.carousel-section{
  width: 100%;
  display: flex;
  justify-content: center;
}
.carouselSlider{
  width:50%;
  justify-content: center;
}


.titulo-apicultura {
  font-size: 30px;
  color: burlywood;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.apicultura {
  flex-direction: column;
}

.fondo-apicultura {
  max-width: 100%;
  height: auto;
  border-radius: 50px;
}

.proceso-apicultura {
  font-size: 18px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.imagen-proceso {
  max-width: 100%; 
  height: auto; 
  margin-top: 20px; 
  margin-right: 0; 
}
.image {
  img {
    width: 100%;
  }
}

.imagen-texto {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-left: #000;
}

.texto {
  h3 {
    margin-left: 850px;
    font-size: 30px;
    text-decoration: underline;
    color: brown;
  }

  p {
    margin-left: 600px;
    font-size: 20px;
    font-style: oblique;
    font-weight: bold;
  }
}

.fondo-nosotros {
  width: 100%;
  max-width: 400px;
  margin-left: 20px;
}

footer {
  background: linear-gradient(to top, mistyrose, 80%, white);
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

@import 'variables.css';
@import 'barra.css';
@import 'menu.css';
@import 'search.css';


