.barra {
  height: auto; 
  background: linear-gradient(yellow, coral);
  display: flex;
  flex-direction: column; 
  align-items: center; 
  text-align: center; 
}

.barra img {
  width: 150px;
  height: auto; 
  margin-top: 20px; 
}

ul {
  list-style-type: none;
  display: flex;
  padding: 20px 0; /* Reducimos el relleno */
  justify-content: center; /* Centramos los elementos horizontalmente */
}

.div-nuevo a {
  padding:18px 26px;
  text-decoration: none;
  font-size: 20px; 
  color: #000;
  justify-content:end;
  font-family: 'Yatra One', cursive;
  transition: background-color 0.3s, color 0.3s;
}
.div-nuevo a:hover {
  font-size: 20px;
  color: white; 
  border: 0,5px solid #000;
  text-decoration: underline;
  text-decoration-color: white;

}   
  

.search-container {
  justify-content: center; /* Centramos el contenido */
  margin-bottom: 20px; /* Espacio inferior */
}

.search-box {
  width: 100%; /* Ancho completo */
  max-width: 250px; /* Ancho máximo */
  height: 40px; /* Aumentamos la altura */
  margin: 10px 0; 
  border: 1px solid white;
  border-radius: 5px;
  font-size: 15px;
}

/* Banner */
.banner {
  height: auto; /* Altura automática para adaptarse al contenido */
  text-align: center;
  background: linear-gradient(coral,yellow);

}
.imagen-banner{
  width: 60%;
}

.banner h1 {
  font-size: 60px;
  font-family: 'Marck Script', cursive;
  border: 2px;color: #000;
}

.banner h3 {
  font-family: 'Marck Script', cursive;
  font-size: 30px;
  border: 1px;color: #000;
}

.imagen-banner {
  max-width: 100%; /* Aseguramos que la imagen no se desborde */
  height: auto; /* Altura automática */
}
.carousel-inner{
  height: 400px;
}
.carousel-section{
  width: 100%;
  display: flex;
  justify-content: center;
}
.carouselSlider{
  width:50%;
  justify-content: center;
}

/* Galería */
.gallery {
  grid-template-columns: repeat(1, 1fr); /* Una columna para dispositivos móviles */
}

.image img {
  width: 100%; 
}
.imagen-texto {
  display: flex; 
  flex-direction: row; 
  align-items: center; 
  border-left: #000;
}
.texto h3{
  margin-left: 850px;
  font-size: 30px;
  text-decoration:underline;
  color: brown;
  
}
.texto p {
  margin-left: 600px;
  font-size: 20px;
  font-style:oblique;
  font-weight: bold;
}

.fondo-nosotros {
  width: 100%; 
  max-width: 400px; 
  margin-left: 20px; 
  }


footer {
  background: linear-gradient(to top, mistyrose, 80%,white);
  padding: 20px;
  display: flex;
  justify-content: space-around;}
  
  .columna {
    flex: 3;
    margin: 50px;
    text-align: center;
    
    h3 {
      font-size: 25px;
      color: #000;
      text-decoration: underline;
    }
    
    p {
      font-size: 16px;
      
    }
  }
  


/* Sección de Apicultura */
.section-apicultura {
  text-align: center; 
  background: linear-gradient(to top, beige, 80%,white);
}

.titulo-apicultura {
  font-size: 30px; 
  color:burlywood;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.apicultura {
  flex-direction: column; 
}

.fondo-apicultura {
  max-width: 100%; 
  height: auto; 
  border-radius: 50px; 
}

.proceso-apicultura {
  font-size: 18px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.imagen-proceso {
  max-width: 100%; 
  height: auto; 
  margin-top: 20px; 
  margin-right: 0; 
}
@media (max-width: 768px) {
  .barra {
    padding: 10px; /* Ajusta el relleno para dispositivos móviles */
  }
}